@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: v.$font-size-base;
  letter-spacing: v.$letter-spacing-normal;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-normal;
  color: v.$color-text-primary;
  background-color: v.$color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
}

p {
  margin: 0;
}

a {
  color: v.$brand-primary-500;
  text-decoration: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

.main {
  flex: 1;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  padding-top: 64px;

  @media (max-width: 767px) {
    padding-top: 56px;
  }
}
